.row
  .span8.offset2
    %h1 Food Generator
    = form_tag '/generator/search', do |f|
      = text_field_tag :budget
      = select_tag :people, options_for_select(@people_range)
      = button_tag :generate, :class => "btn primary"
-if @results
  .row
    .span8.offset2
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
              Name
            %th
              Price
            %th
              Servings
            %th
              Calories
            %th
              Vegetarian
        %tbody
          - @results.each do |item|
            %tr
              %td= item.name
              %td= item.cost
              %td= item.servings
              %td= item.calories
              %td= item.vegetarian
