!!!
%html
  %head
    %title
      Foodgenerator
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Food Generator", root_url, :class => "brand"
    .container
      .row
        .span8.offset2
          .hero-unit#hero
            %h2
              Food Generator
            %p
              Automatically create a list of food items that match your budget and event size.
            %p
              Give it a try below!
    = yield
  %footer
    = yield(:js_footer)
